.header_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding-top: 23px;
  width: 80%;
  column-gap: 60px;

  @media (max-width: 600px) {
    width: 90%;
    column-gap: 20px;
  }

  ul {
    padding-left: 0 !important;
  }

  svg {
    @media (max-width: 576px) {
      width: 100px;
    }
  }

  .leftSideHeader {
    width: 49%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
    // button {
    //   border: none;
    //   background: #33A980;
    //   color: white;
    //   border-radius: 10px;
    //   padding: 5px 18px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   font-family: "IranSans";
    //   font-size: 12px;
    //   transition: all 0.3s ease-in-out;
    //   cursor: pointer;

    //   &:hover{
    //     opacity: 0.5;
    //   }
    // }
  }

  .tabs__parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 0 !important;

    @media (max-width: 600px) {
      column-gap: 20px;
    }

    .tabs_li {
      font-family: "IranSans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      text-align: justify;
      color: #484848;
      cursor: pointer;

      @media (max-width: 576px) {
        font-size: 10px;
      }
    }
  }
}

.tabs_active {
  color: #009360 !important;
  font-weight: 700;
}
