.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.image-background img{
    width: 100%;
}

.background-footer {
    width: 100%;
}

.image-background {
    width: 100%;
    padding-top: 10%;
}

.image-mobile{
    position: absolute;
    left: 21.2%;
    bottom: 55%;
    width: 8%;
}

.span-circle{
    position: absolute;
    width: 270px;
    height: 61px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #484848;
    left: 16.4% !important;
    bottom: 40%;
}

.three-image{
    display: flex;
    position: absolute;
    left: 20.2%;
    bottom: 30%;
    width: 10%;
    column-gap: 20px;
    z-index: 1;
}

.column-footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    right: 150px;
}

.paragraph-footer{
    width: 592px;
    height: 78px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 33px;
}

.row-footer{
    display: flex;
    column-gap: 165px;
}

.column-footerr{
    display: flex;
    flex-direction: column;
}

.two-column{
    display: flex;
    flex-direction: column;
}

.row-footter{
    display: flex;
    column-gap: 70px;
}

.row-foter{
    display: flex;
    align-items: baseline;
    column-gap: 10px;
    margin-bottom: 16px;
}

.row-address{
    display: flex; 
    align-items: baseline;
    column-gap: 13px;
    margin-bottom: 16px;
}

.roww{
    display: flex;
    column-gap: 500px;
}

.row-email{
    display: flex;
    align-items: center;
}

.row-tamas{
    display: flex;
    align-items: center;
}

.title-dastresi{
    width: 93px;
    height: 25px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.text-footer{
    width: 69px;
    height: 22px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.text-footerr{
    width: 102px;
    height: 22px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.title-ertebat{
    width: 69px;
    height: 25px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.span-address{
    width: 395px;
    height: 22px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.span-email{
    position: absolute;
    width: 73px;
    height: 22px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    margin-right: 37px;
}

.shomare{
    position: absolute;
    width: 67px;
    height: 22px;
    font-family: 'IRANSansFaNum';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    margin-right: -95px;
}

.footer-responsive{
    display: none;
}

.footer-responsive-one{
    display: none;
}

.resp{
    display: none;
}

.btn-mostatil:hover{
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
}

.text-ravanhesab p {
    display: flex;
    justify-content: center;
    font-family: 'IranSans';
    font-size: 12px;
    color: #a8aaab;
    margin-top: 5px;
}

.ravanhesabb{
    color: #FFFFFF;
    padding: 0px 3px;
}

@media (max-width:1430px) {
    .row-mostatil {
        column-gap: 10%;
    }
    .row-vector {
        width: 25%;
        justify-content: space-evenly;
    }
    .column-footer {
        right: 135px;
    }
}

@media (max-width:1370px) {
    .span-circle {
        left: 15.4% !important;
    }
}

@media (max-width:1360px) {
    .column-footer {
        right: 90px;
    }
    /* .image-mobile {
        left: 282px;
    } */
    .span-circle {
        left: 16.8% !important;
        width: 215px;
    }
    /* .three-image {
        left: 267px;
    } */
}

/* @media (max-width:1320px) {
    .image-mobile {
        left: 269px;
    }
    .span-circle {
        left: 215px;
    }
    .three-image {
        left: 260px;
    }
} */

@media (max-width:1300px) {
    .column-footer {
        right: 90px;
    }
    .text-ravanhesab p {
        margin-top: 0px !important;
    }
}

@media (max-width:1270px) {
    .column-footer {
        right: 90px;
    }
    /* .image-mobile {
        left: 264px;
    } */
    .span-circle {
        /* left: 206px; */
        width: 215px;
    }
    /* .three-image {
        left: 255px;
    } */
    .roww {
        column-gap: 385px;
    }
    .paragraph-footer {
        margin-bottom: 25px;
    }
    .row-footer {
        column-gap: 100px;
    }
}

/* @media (max-width:1230px) {
    .image-mobile {
        left: 254px;
    }
    .span-circle {
        left: 195px;
    }
    .three-image {
        left: 250px;
    }
} */

@media (max-width:1200px) {
    .res{
        display: none;
    }
    .resp{
        display: block;
    }
    .image-mobile {
        bottom: 60%;
    }
    .span-circle {
        width: 215px;
        bottom: 46%;
        left: 16% !important;
    }
    .three-image {
        bottom: 39%;
        left: 20%;
    }
}

/* @media (max-width:1180px) {
    .image-mobile {
        left: 244px;
    }
    .span-circle {
        left: 181px;
    }
    .three-image {
        left: 241px;
    }
} */

/* @media (max-width:1150px) {
    .image-mobile {
        left: 235px;
    }
    .span-circle {
        left: 172px;
    }
    .three-image {
        left: 236px;
    }
} */

@media (max-width:1111px) {
    .image-mobile {
        bottom: 57%;
        left: 21%;
    }
    .span-circle {
        bottom: 45%;
        left: 15.5% !important;
    }
    .three-image {
        bottom: 37%;
    }
    .roww {
        column-gap: 285px;
    }
    .row-footer {
        column-gap: 65px;
    }
    .row-footter {
        display: flex;
        column-gap: 40px;
    }
    .paragraph-footer{
        width: 486px;
    }
}

@media (max-width:1075px) {
    .three-image {
        bottom: 35%;
    }
    .span-circle {
        bottom: 42%;
        left: 15% !important;
    }
    .image-mobile {
        bottom: 54%;
        left: 21%;
    }
}

@media (max-width:1030px) {
    .image-mobile {
        bottom: 52%;
        left: 20.7%;
    }
    .span-circle {
        bottom: 40%;
        left: 14.7% !important;
    }
    .three-image {
        bottom: 33%;
    }
}

@media (max-width:990px) {
    .span-circle {
        bottom: 38%;
        left: 14% !important;
    }
    .three-image {
        bottom: 31%;
    }
    .image-mobile {
        bottom: 50%;
        left: 20.7%;
    }
}

@media (max-width:980px) {
    .column-footer {
        right: 55px;
    }
    /* .image-mobile {
        left: 205px;
    }
    .span-circle {
        left: 139px;
    } */
    .three-image {
        /* left: 207px; */
        column-gap: 8px;
    }
}

@media (max-width:955px) {
    .image-mobile {
        bottom: 57%;
        left: 20.7%;
    }
    .span-circle {
        bottom: 43%;
        left: 13.7%;
    }
    .three-image {
        column-gap: 8px;
        bottom: 35%;
    }
    .paragraph-footer {
        margin-bottom: 15px;
    }
}

@media (max-width:930px) {
    .column-footer {
        right: 55px;
    }
    .paragraph-footer {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .title-dastresi{
        margin-bottom: 10px;
    }
    .title-ertebat{
        margin-bottom: 10px;
    }
    .span-address {
        width: 333px;
    }
    .row-footter {
        column-gap: 20px;
    }
    /* .image-mobile {
        left: 195px;
    } */
    .span-circle {
        font-size: 10px;
        width: 183px;
        left: 15% !important;
    }
    /* .three-image {
        left: 193px;
    } */
}

@media (max-width:890px) {
    /* .three-image {
        bottom: 170px;
    }
    .span-circle {
        bottom: 200px;
    }
    .image-mobile {
        bottom: 265px;
    } */
    .paragraph-footer {
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .title-ertebat {
        margin-bottom: 5px;
    }
    .title-dastresi {
        margin-bottom: 5px;
    }
}

@media (max-width:885px) {
    /* .image-mobile {
        left: 190px;
    } */
    .span-circle {
        font-size: 10px;
        width: 183px;
        /* left: 131px; */
    }
    /* .three-image {
        left: 190px;
    } */
}

@media (max-width:875px) {
    .paragraph-mostatil span {
        font-size: 17px;
    }
    /* .image-mobile {
        left: 185px;
    }
    .span-circle {
        left: 126px;
    }
    .three-image {
        left: 186px;
    } */
    .image-mobile {
        bottom: 54%;
        left: 21.3%;
    }
    .span-circle {
        left: 14.5% !important;
        bottom: 40%;
    }
    .three-image {
        bottom: 33%;
    }
    .paragraph-footer{
        width: 425px;
        font-size: 12px;
    }
    .span-address{
        font-size: 10px;
    }
    .title-ertebat{
        font-size: 12px;
        margin-bottom: 0%;
    }
    .title-dastresi{
        font-size: 12px;
        margin-bottom: 0%;
    }
    .text-footer{
        font-size: 10px;
    }
    .text-footerr{
        font-size: 10px;
    }
    .span-email{
        font-size: 10px;
    }
    .shomare{
        font-size: 10px;
    }
    .row-footer {
        column-gap: 30px;
    }
    .image-mostatil {
        height: 15vh;
    }
    .row-mostatil {
        top: 25px;
    }
}

@media (max-width:845px) {
    /* .image-mobile {
        left: 175px;
    }
    .span-circle {
        left: 117px;
    }
    .three-image {
        left: 181px;
    } */
    .paragraph-mostatil span {
        font-size: 16px;
    }
    .text-footerr {
        height: 0px;
    }
    .text-footer {
        height: 0px;
    }
}

@media (max-width:820px) {
    /* .three-image {
        left: 183px;
    } */
    .column-footer {
        right: 55px;
    }
    .text-footer {
        width: 69px;
        height: 0px;
    }
    .paragraph-mostatil span {
        font-size: 16px;
    }
    .paragraph-footer {
        margin-bottom: 0px;
    }
}

@media (max-width:800px) {
    .image-mobile {
        bottom: 58%;
        left: 21%;
    }
    .span-circle {
        bottom: 42%;
        left: 13.5% !important;
    }
    .three-image {
        bottom: 35%;
    }
}

@media (max-width:790px) {
    .logo-footer img{
        width: 15%;
    }
    .column-footer {
        right: 25px;
    }
    .roww {
        column-gap: 200px;
    }
    .shomare {
        margin-right: -65px;
    }
    /* .image-mobile {
        left: 170px;
        bottom: 245px;
    }
    .span-circle {
        bottom: 185px;
        left: 107px;
    } */
    .three-image {
        /* bottom: 150px; */
        /* left: 170px; */
        column-gap: 3px;
    }
    .paragraph-mostatil span {
        font-size: 15px;
    }
}

@media (max-width:760px) {
    .span-address {
        width: 254px;
    }
    .paragraph-footer {
        width: 380px;
        font-size: 10px;
        margin-top: 5px;
    }
    /* .image-mobile {
        left: 160px;
    } */
    .span-circle {
        font-size: 9px;
        width: 168px;
        line-height: 15px;
        /* left: 102px; */
    }
    .column-footer {
        right: 25px;
    }
    .three-image {
        /* left: 165px; */
        column-gap: 3px;
    }
}

@media (max-width:740px) {
    .column-footer {
        right: 25px;
        bottom: -11px;
    }
}

@media (max-width:721px) {
    .logo-footer img {
        width: 100%;
    }
    .footer-responsive-one{
        display: none;
    }
    .paragraph-mostatil span {
        font-size: 15px;
        line-height: 25px;
    }
    .footer{
        display: none;
    }
    .footer-responsive{
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    } 
    .image-background {
        position: relative;
        width: 100%;
        bottom: 0;
    }
    .image-mobile {
        position: absolute;
        /* left: 158px; */
        width: 6%;
        /* bottom: 180px; */
        bottom: 78%;
        left: 22%;    
    }
    .span-circle {
        width: 147px;
        height: 61px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 13px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #484848;
        /* left: 107px; */
        /* bottom: 120px; */
        bottom: 50%;
        left: 14.5% !important;
    }
    .three-image{
        bottom: 39%;
    }
    .logo-footer {
        width: 10%;
    }
    .column-footer {
        right: 50px;
    }
    .paragraph-footer {
        width: 280px;
        height: 50px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #FFFFFF;
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .title-dastresi {
        font-size: 11px;
        line-height: 25px;
        margin-bottom: 0px;
    }
    .row-footter {
        display: flex;
        column-gap: 20px;
    }
    .row-foter {
        column-gap: 5px;
        margin-bottom: 0px;
    }
    .text-footer {
        height: 0px;
        font-size: 10px;
        line-height: 22px;
    }
    .text-footerr {
        width: 102px;
        height: 22px;
        font-size: 10px;
        line-height: 0px;
    }
    .row-footer {
        display: flex;
        column-gap: 5px;
    }
    .title-ertebat{
        font-size: 11px;
        line-height: 25px;
        margin-bottom: 0px;
    }
    .span-address {
        width: 253px;
        height: 20px;
        font-size: 9px;
    }
    .image-location img{
        width: 50%;
    }
    .row-address {
        column-gap: 0px;
        margin-bottom: 0px;
    }
    .roww {
        column-gap: 200px;
    }
    .image-email img{
        width: 50%;
    }
    .image-telephone img{
        width: 50%;
    }
    .span-email {
        width: 55px;
        font-size: 10px;
        margin-right: 26px;
    }
    .shomare {
        width: 55px;
        font-weight: 400;
        font-size: 10px;
        margin-right: -70px;
    }
    .text-ravanhesab p {
        font-size: 10px;
    }
}

@media (max-width:680px){
    /* .span-circle {
        left: 95px;
    }
    .three-image {
        left: 133px;
    }
    .image-mobile {
        left: 145px;
    }     */
    .row-footer {
        column-gap: 0px;
    }
    .row-footter {
        column-gap: 0px;
    }
    .column-footer {
        right: 50px;
    }
}

@media (max-width:660px){
    /* .span-circle {
        left: 85px;
    }
    .three-image {
        left: 125px;
    } */
    .column-footer {
        right: 30px;
    }
}

@media (max-width:650px) {
    .responsi{
        display: block;
    }
    .respons{
        display: none;
    }
    .footer{
        display: none;
    }
    .footer-responsive{
        display: none;
    }
    .footer-responsive-one{
        display: block;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row-footer {
        column-gap: 0px;
        flex-direction: column;
    }
    .logo-footer {
        width: 25%;
    }
    .three-image {
        /* left: 65px; */
        width: 20%;
        /* bottom: 415px; */
    }
    .span-circle {
        width: 175px;
        height: 61px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #484848;
        /* left: 58px; */
        /* bottom: 450px; */
        left: 8% !important;
        bottom: 67% !important;
    }
    .image-mobile {
        position: absolute;
        /* left: 104px; */
        width: 11%;
        /* bottom: 525px; */
        bottom: 78%;
        left: 16%;
    }
    .three-image {
        left: 9.5%;
        width: 20%;
        bottom: 60%;
    }
    .column-footer {
        right: 40px;
    }
    .paragraph-footer {
        width: 333px;
        height: 78px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        margin-top: 33px;
        margin-bottom: 35px;
    }
    .title-dastresi{
        width: 93px;
        height: 25px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    .text-footer{
        width: 69px;
        height: 40px;
        font-size: 14px;
        line-height: 22px;
    }
    .text-footerr{
        width: 102px;
        height: 40px;
        font-size: 14px;
        line-height: 22px;
    }
    .row-footter {
        column-gap: 125px;
    }
    .title-ertebat {
        width: 69px;
        height: 25px;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .image-location img {
        width: 60%;
    }
    .image-email img{
        width: 60%;
    }
    .image-telephone img{
        width: 60%;
    }
    .span-address{
        width: 395px;
        height: 22px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    .row-address {
        margin-bottom: 25px;
    }
    .span-email{
        position: absolute;
        width: 73px;
        height: 22px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #FFFFFF;
        margin-right: 37px;
    }
    
    .shomare{
        position: absolute;
        width: 67px;
        height: 22px;
        font-family: 'IRANSansFaNum';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #FFFFFF;
        margin-right: -95px;
    }
    .roww {
        column-gap: 300px;
    }
    .text-ravanhesab p {
        font-size: 12px;
    }
    .text-ravanhesab {
        margin-top: 30px !important;
    }
}

@media (max-width:635px) {
    .text-ravanhesab {
        margin-top: 0px !important;
    }
}

@media (max-width:610px){
    .three-image {
        left: 13%;
        width: 17%;
        /* bottom: 385px; */
    }
    /* .span-circle {
        left: 40px;
        bottom: 425px;
    } */
    .image-mobile {
        /* left: 85px; */
        width: 12%;
        /* bottom: 490px; */
    }
}

@media (max-width:600px) {
    .image-mobile {
        /* left: 90px; */
        width: 12%;
    }
    /* .span-circle {
        left: 40px;
    } */
    .three-image {
        /* left: 77px; */
        width: 17%;
    }
}

@media (max-width:590px){ 
    .paragraph-footer {
        width: 300px;
    }
    .text-ravanhesab {
        margin-top: 15px !important;
    }
    .span-circle {
        left: 7% !important;
    }
}

@media (max-width:575px) {
    .paragraph-mostatil span {
        font-size: 14px;
        line-height: 20px;
    }
    .image-mostatil img {
        width: 90%;
        height: 100px;
    }
    .row-footer {
        column-gap: 0px;
        flex-direction: column;
    }
    .logo-footer {
        width: 25%;
    }
    .three-image {
        left: 11%;
        width: 20%;
        /* bottom: 365px; */
    }
    .span-circle {
        width: 165px;
        height: 61px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        /* left: 37px;       */
        /* bottom: 405px; */
    }
    .image-mobile {
        position: absolute;
        /* left: 95px; */
        width: 10%;
        /* bottom: 470px; */
    }
    .paragraph-footer {
        width: 290px;
        height: 78px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        margin-top: 33px;
        margin-bottom: 35px;
    }
    .title-dastresi{
        width: 93px;
        height: 25px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    .text-footer{
        width: 69px;
        height: 30px;
        font-size: 14px;
        line-height: 22px;
    }
    .text-footerr{
        width: 102px;
        height: 30px;
        font-size: 14px;
        line-height: 22px;
    }
    .row-footter {
        column-gap: 95px;
    }
    .title-ertebat{
        width: 69px;
        height: 25px;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .image-location img {
        width: 60%;
    }
    .image-email img{
        width: 60%;
    }
    .image-telephone img{
        width: 60%;
    }
    .span-address{
        width: 395px;
        height: 22px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    .row-address {
        margin-bottom: 10px;
    }
    .span-email{
        position: absolute;
        width: 73px;
        height: 22px;
        font-family: 'IRANSans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #FFFFFF;
        margin-right: 37px;
    }
    
    .shomare{
        position: absolute;
        width: 67px;
        height: 22px;
        font-family: 'IRANSansFaNum';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #FFFFFF;
        margin-right: -95px;
    }
    .roww {
        column-gap: 300px;
    }
}

@media (max-width:550px) {
    .image-mobile {
        position: absolute;
        /* left: 87px; */
        width: 11%;
        /* bottom: 440px; */
    }
    /* .span-circle {
        left: 29px;
        bottom: 370px;
    } */
    .span-circle {
        left: 6% !important;
        bottom: 65%;
    }
    .three-image {
        left: 13%;
        width: 17%;
        /* bottom: 337px; */
    }
}

@media (max-width:520px) {
    .image-mobile {
        position: absolute;
        /* left: 85px; */
        width: 11%;
    }
    .span-circle {
        width: 147px;
        left: 7%;
    }
    .three-image {
        left: 15%;
        width: 12%;
        column-gap: 7px;
    }
    .paragraph-footer {
        width: 240px;
        font-size: 10px;
    }
    .title-dastresi {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .text-footer {
        font-size: 10px;
    }
    .text-footerr {
        font-size: 10px;
    }
    .row-footter {
        column-gap: 60px;
    }
    .title-ertebat {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .span-address {
        font-size: 10px;
    }
    .span-email {
        font-size: 10px;
        margin-right: 26px;
        margin-top: 8px;
    }
    .shomare{
        font-size: 10px;
        margin-top: 8px;
        margin-right: -65px;
    }
    .roww {
        column-gap: 200px;
    }
    .paragraph-mostatil span {
        font-size: 12px;
    }
}

@media (max-width:500px) {
    .span-circle {
        width: 147px;
        /* left: 27px; */
        /* bottom: 340px; */
    }
    .three-image {
        /* left: 76px; */
        width: 12%;
        column-gap: 7px;
        /* bottom: 310px; */
    }
}

@media (max-width:470px) {
    .row-address {
        margin-bottom: 0px;
    }
    .title-ertebat {
        margin-bottom: 0px;
    }
    .title-dastresi {
        margin-bottom: 0px;
    }
    /* .three-image {
        left: 73px;
        bottom: 285px;
    }
    .span-circle {
        left: 26px;
        bottom: 310px;
    }
    .image-mobile {
        left: 77px;
        bottom: 370px;
    } */
}

@media (max-width:450px) {
    .background-footer {
        width: 100%;
        margin-top: 10%;
    }
    .responsi{
        display: none;
    }
    .respons{
        display: block;
    }
    .image-mobile {
        position: absolute;
        left: 42%;
        width: 16%;
        bottom: 85%;
    }
    .span-circle{
        width: 270px;
        height: 61px;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        left: 20% !important;
        bottom: 78% !important;
    }
    .three-image {
        left: 17%;
        width: 50%;
        column-gap: 25px;
        bottom: 71%;
    }
    .paragraph-footer{
        width: 374px;
        height: 78px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .title-dastresi{
        width: 93px;
        height: 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .row-footter {
        column-gap: 60px;
        margin-bottom: 20px;
    }
    .text-footer{
        width: 69px;
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .text-footerr{
        width: 102px;
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }
    .title-ertebat{
        width: 69px;
        height: 25px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .span-address{
        width: 336px;
        height: 44px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }
    .image-location img {
        width: 80%;
    }
    .image-email img {
        width: 80%;
    }
    .image-telephone img {
        width: 80%;
    }
    .roww {
        column-gap: 0px;
        flex-direction: column;
    }
    .shomare {
        font-size: 10px;
        margin-top: 8px;
        margin-right: 23px;
    }
    .span-email{
        width: 73px;
        height: 22px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }
    .shomare{
        width: 67px;
        height: 22px;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .row-address {
        margin-bottom: 25px;
    }
    .row-email {
        margin-bottom: 25px;
    }
    .logo-footer {
        width: 45%;
        margin-right: 85px;
    }
    .text-ravanhesab {
        margin-top: 15px !important;
    }
}

@media (max-width:430px) {
    .three-image {
        /* left: 77px; */
        width: 50%;
        column-gap: 25px;
        /* bottom: 650px; */
    }    
    .image-mobile {
        position: absolute;
        /* left: 178px; */
        width: 16%;
        /* bottom: 777px; */
    }
    .paragraph-mostatil span {
        font-size: 11px;
    }
    .paragraph-footer {
        width: 309px;
        font-size: 11px;
    }
    .title-dastresi{
        font-size: 13px;
    }
    .title-ertebat{
        font-size: 13px;
    }
    .row-footter {
        column-gap: 25px;
    }
    .text-footer {
        font-size: 11px;
    }
    .text-footerr {
        font-size: 11px;
    }
    .span-address {
        width: 275px;
        font-size: 11px;
    }
    .span-email{
        font-size: 11px;
    }
    .shomare{
        font-size: 11px;
    }
    .column-footer {
        right: 55px;
    }
    .span-circle {
        left: 19% !important;
        bottom: 77% !important;
    }
}

@media (max-width:415px) {
    .column-footer {
        right: 55px;
    }
    .span-circle {
        left: 16% !important;
        bottom: 76% !important;
    }
}

@media (max-width:400px) {
    .column-footer {
        right: 44px;
    }
    .title-dastresi {
        margin-bottom: 10px;
    }
}

@media (max-width:385px) {
    .column-footer {
        right: 44px;
    }
    .title-dastresi {
        margin-bottom: 5px;
    }
    .title-ertebat {
        margin-bottom: 5px;
    }
    .span-circle {
        width: 260px;
    }
}

@media (max-width:375px) {
    .column-footer {
        right: 25px;
    }
    .title-dastresi {
        margin-bottom: 5px;
    }
    .title-ertebat {
        margin-bottom: 5px;
    }
    .row-footter {
        margin-bottom: 0px;
    }
    .span-circle {
        width: 240px;
    }
}