@charset "UTF-8";
@font-face {
    font-family: Sahel;
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-FD.eot");
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-FD.eot?#iefix") format("embedded-opentype"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-FD.woff2") format("woff2"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-FD.woff") format("woff"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-FD.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Bold-FD.eot");
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Bold-FD.woff2") format("woff2"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Bold-FD.woff") format("woff"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Bold-FD.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Light-FD.eot");
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Light-FD.eot?#iefix") format("embedded-opentype"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Light-FD.woff2") format("woff2"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Light-FD.woff") format("woff"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Light-FD.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Sahel;
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-SemiBold-FD.eot");
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-SemiBold-FD.eot?#iefix") format("embedded-opentype"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-SemiBold-FD.woff2") format("woff2"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-SemiBold-FD.woff") format("woff"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-SemiBold-FD.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: Sahel;
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Black-FD.eot");
    src: url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Black-FD.eot?#iefix") format("embedded-opentype"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Black-FD.woff2") format("woff2"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Black-FD.woff") format("woff"),
    url("/node_modules/sahel-font/dist/Farsi-Digits/Sahel-Black-FD.ttf") format("truetype");
    font-weight: 900;
}


@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('Assets/fonts/eot/IRANSansWeb_Bold.eot');
    src: url('Assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    url('Assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    url('Assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
    url('Assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('Assets/fonts/eot/IRANSansWeb_Medium.eot');
    src: url('Assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    url('Assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
    url('Assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
    url('Assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('Assets/fonts/eot/IRANSansWeb_Light.eot');
    src: url('Assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    url('Assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    url('Assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'),
    url('Assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('Assets/fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('Assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
    url('Assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
    url('Assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    url('Assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('Assets/fonts/eot/IRANSansWeb.eot');
    src: url('Assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('Assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    url('Assets/fonts/woff/IRANSansWeb.woff') format('woff'),
    url('Assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-display: fallback;
}

:root {
    --btnBgColor: #fff;
    --btnBgColorHover: #5450D6;
    --btnRed: #F84459;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: thin !important;
    scrollbar-color: #89c8c8 #f6f5ff;
    font-family: IRANSans, serif;
    /*user-select: none;*/

    transition: all 0.2s;

}

html {
    scrollbar-width: thin !important;
    scrollbar-color: #89c8c8 #f6f5ff;
}

/*::-webkit-scrollbar {*/
/*    width: 5px !important;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border: none;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*    background: #afbbbb;*/
/*    border-radius: 8px;*/
/*    min-height: 40px;*/
/*}*/

/*::-webkit-scrollbar-track-piece {*/
/*    !*background-color: #e8ecec;*!*/
/*}*/

p {
    margin-bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:focus {
    outline: none;
}

:disabled {
    background-color: transparent;
}

input[type="number"] {
    -moz-appearance: textfield;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin-bottom: 0;
}


.greenBtn {
    border-color: #309383;
    color: #309383;
    transition: ease 0.3s;
}

.greenBtn:hover {
    color: #fff;
    background-color: #309383;
}

.redBtn {
    border-color: #F84459;
    color: #F84459;
    transition: ease 0.3s;
}

.redBtn:hover {
    color: #fff;
    background-color: #F84459;
}

.width__345 {
    width: 345px;
    height: 40px
}

.margin_top_5 {
    margin-top: 5rem;
}

.margin_top_4 {
    margin-top: 4rem;
}

.cursor_pointer {
    cursor: pointer;
}

.green__color {
    color: #309383
}

.fd-font {
    font-family: Sahel, serif;
}

.custom__input__login__code {
    width: 37px;
    border: none;
    border-bottom: 2px solid #B3B3B3;
    text-align: center;
}

.width__195 {
    width: 215px;
}

.ltr {
    direction: ltr;
}

.center__Loader {
    height: 100vh;
    /*background: aqua;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.package__section {
    word-break: break-word;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    /*space-between the  cols? they has their Margins */
}

.package__section .single__package .top__hand__section {
    background: #fff;
}

.package__section .single__package:nth-child(1) .top__hand__section svg path:nth-child(1) {
    fill: #B5EAD6;
}

.package__section .single__package:nth-child(1) .top__hand__section svg path:nth-of-type(2) {
    fill: #B5EAD680;
}

/*.package__section .single__package:nth-child(2) {*/
/*    background: #fff;*/
/*}*/

.package__section .single__package:nth-child(2) .top__hand__section svg path:nth-of-type(1) {
    fill: rgba(226, 240, 204, 1);
}

.package__section .single__package:nth-child(2) .top__hand__section svg path:nth-of-type(2) {
    fill: rgba(226, 240, 204, 0.5);
}

/*.package__section .single__package:nth-child(3) {*/
/*    background: #fff;*/
/*}*/

.package__section .single__package:nth-child(3) .top__hand__section svg path:nth-of-type(1) {
    fill: rgba(255, 218, 192, 1);
}

.package__section .single__package:nth-child(3) .top__hand__section svg path:nth-of-type(2) {
    fill: rgba(255, 218, 192, 0.5);
}

/*.package__section .single__package:nth-child(4) {*/
/*    background: #fff;*/
/*}*/

.package__section .single__package:nth-child(4) .top__hand__section svg path:nth-of-type(1) {
    fill: rgba(254, 182, 183, 1);
}

.package__section .single__package:nth-child(4) .top__hand__section svg path:nth-of-type(2) {
    fill: rgba(254, 182, 183, 0.5);
}

.package__section .single__package {
    margin: 30px 6px;
    background: white;
    width: 250px;
    overflow: hidden;
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    /*align-items: center;*/
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    /*height: 400px;*/


}

.package__section .single__package:hover {
    /*border: 1px solid red;*/
    /*scale: 110%;*/
    /*transform: scaleY(110%);*/
    z-index: +11;
    /*transform: scale(1,1.1);*/
    scale: 105%;
}


.package__section .single__package:hover .single__add__To__basket_button {
    visibility: visible;
}

.check__box__before:before {
    content: url("Assets/svg/tick_orange.svg");
    padding: 0 12px;
}

.package__section .single__package .top__hand__section {

    /*display: flex;*/
    /*justify-content: center;*/
    margin: 0 auto 0 auto;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
}

.package__section .package__width__header .top__hand__section {
    position: relative;
}

.package__section .package__width__header .header__title {
    text-align: center;
    /* color: red; */
    position: absolute;
    top: 35px;
    width: 100%;
    /*background: aquamarine;*/
    text-shadow: 0 2px 0 #FDE9DB;
}

.package__section .single__package .add__To__card__section {
    /*clear: both;*/
    /*border: 1px solid;*/
    cursor: pointer;
    background: white;
    width: 100%;
    /*border-radius: 15px;*/
    /*text-align: center;*/
    /*margin: 3px 0;*/
    position: absolute;
    bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 35px;*/

}

.package__section .single__package .single__add__To__basket_button ,
.package__section .single__package .single__add__To__basket_button_not_active
{
    /*transition: all 0.9s;*/
    /*visibility: hidden;*/
    /*background: #E96415;*/
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.4s;
}

.package__section .single__package .single__add__To__basket_button svg path {
    fill: white;
}

.package__section .single__package:hover .single__add__To__basket_button {
    /*visibility: visible;*/
    background: #E96415;
}
.package__section .single__package .single__add__To__basket_button_not_active svg path {
    fill: white;
}

.package__section .single__package:hover .single__add__To__basket_button_not_active {
    /*visibility: visible;*/
    background: #cfd0d1;
}

.package__section .single__package .package__width__body {
    margin: 0 0 65px 0;
}

.form__control__check__box {
    display: flex;
    justify-content: start;
    align-items: center;
}

.form__control__check__box input[type='checkbox'] {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5px;
    height: 30px;
}

.set_box_shadow_to_singleItem {
    /*border: 1px solid #000000;*/
    /*box-shadow: 0 0 3px 0 #000000;*/
    box-shadow: 0 0 5px 0 #00000082 !important;
    /*border: 1px solid black;*/
    z-index: +10;
    /*transform: scale(1,1.1);*/
    scale: 105%;
}


.font_20_bold {
    font-weight: bold;
    font-size: 20px;
}

.bg__orange {
    background: #E96415;
}

.w_770 {
    max-width: 770px;
    background: #fff;
    border-radius: 10px;
    /*padding: 10px 0;*/
    height: 45px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.2s ease;

}

ul.w_770 li.nav-item button.nav-link {
    color: black;

}

ul.w_770 li.nav-item button.nav-link.active {
    color: #e96415;
    background: 0;
    border-radius: 0;
    border-bottom: 5px solid #e96415;
    transition: all 0.2s;
    font-weight: bold;

}

/*ul.w_770 li.nav-item button.nav-link button:not([class="active"]) {*/

/*    !*background: red;*!*/
/*}*/

.title__bar {
    font-weight: 700;
    font-size: 30px;
    color: #E96415;
    text-align: center;
}

.sub__title__bar {
    text-align: center;
}

.bg_plans {
    /*z-index: 1;*/
    bottom: 0;
}

.modules__section {
    width: 1080px;
    /*background: yellowgreen;*/
    /* word-break: break-word; */
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin: 0 auto;
}

.single__module {
    height: 79px;
    width: 243px;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    overflow: hidden;
    /*border: 1px solid red;*/
    box-sizing: content-box;
    margin-bottom: 10px;
}

.single__module .single__module__title {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.little__basket__icon {
    cursor: pointer;
}

.bg__section___selectedProduct {
    background-image: url("Assets/svg/BgSvg.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

.padding_top_80 {
    padding-top: 80px;
}


.number__basket {
    position: absolute;
    font-size: 14px;
    background: #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    border: 1px solid #c5c5c5;
}

.number__basket .number__basket_number {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -40%);
}

.footer__head {
    font-weight: 500;
}

.your__plans__text {
    font-family: 'IRANSans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #009360;
}
.single__product__name__box:nth-child(10n+1){background: #FFF89C;}
.single__product__name__box:nth-child(10n+2){background: #FFDCA9;}
.single__product__name__box:nth-child(10n+3){background: #FEB6B7;}
.single__product__name__box:nth-child(10n+4){background: #E2F0CC;}
.single__product__name__box:nth-child(10n+5){background: #B6E2A1;}
.single__product__name__box:nth-child(10n+6){background: #B6E2A1;}
.single__product__name__box:nth-child(10n+7){background: #F1F7B5;}
.single__product__name__box:nth-child(10n+8){background: #DCB5B5;}
.single__product__name__box:nth-child(10n+9){background: #B1F8F8;}
.single__product__name__box:nth-child(10n+10){background: #C0D3FF;}
.single__product__name__box {
    width: 277px;
    height: 60px;
    color: #494949;
    font-family: 'IRANSans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #fff;

}
.other_products_section .single__product__name__box__suggested:nth-child(10n+1){background: #86C8BC;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+2){background: #C0D3FF;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+3){background: #B1F8F8;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+4){background: #DCB5B5;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+5){background: #F1F7B5;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+6){background: #DCB5B5;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+7){background: #F1F7B5;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+8){background: #B6E2A1;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+9){background: #FEB6B7;}
.other_products_section .single__product__name__box__suggested:nth-child(10n+10){background: #FFDCA9;}
.other_products_section .single__product__name__box__suggested {
    width: 277px;
    height: 60px;
    color: #494949;
    font-family: 'IRANSans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #fff;

}
.footer__ravanhesab{
    background-color: #dedede;
    padding: 30px 0 0 0;
}
.footer__head__before__ul {
    flex-flow: row wrap;
    justify-content: start;
}
.footer__head__before__ul ul li a{
    padding: 5px;
    display: block;

    font-family: 'IRANSans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #303030;
}
.footer__head__before__ul ul li a:hover{
    color: #5450D6;
}
.footer__address {
    font-family: IRANSans, serif;
    font-size: 14px;
    font-weight: 400;

}
.footer__copy__right{

}


