.default_input_style {
    /*border-radius:10px;*/
    /*border:1px solid #309383;*/
    /*padding: 8px 15px;*/
    /*background-color:#fff;*/
    /*width:100px;*/
    /*height:40px;*/
    /*font-size:14px;*/
    /*margin:0 5px;*/
    /*font-weight: 500;*/
    /*color:#309383;*/

    height: 45px;

    opacity: 0.99;
    border-radius: 10px;
    border: 0;
    padding: 0 10px;
}
input:focus{
    background: #FFFFFF;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 9999px #ffffff;
    background-color: white !important;
}





